In [3]:
import numpy as np
import pandas as pd
import pm4py

In [ ]:
# load the data as dataframe
file_path = '../data/BPI Challenge 2012_1_all/BPI_Challenge_2012.xes'
log = pm4py.read_xes(file_path)
df = pm4py.convert_to_dataframe(log)

parsing log, completed traces ::   0%|          | 0/13087 [00:00<?, ?it/s]

In [11]:
# sort the rows by case id and timestamp
df = df.sort_values(by=["case:concept:name", "time:timestamp"], ascending=True)
df = df.drop(columns=["lifecycle:transition", "case:REG_DATE", 'org:resource', 'case:AMOUNT_REQ'])

In [13]:
activity = df['concept:name'].unique()
display(activity)

<StringArray>
[                   'A_SUBMITTED',              'A_PARTLYSUBMITTED',
                  'A_PREACCEPTED',         'W_Completeren aanvraag',
                     'A_ACCEPTED',                     'O_SELECTED',
                    'A_FINALIZED',                      'O_CREATED',
                         'O_SENT',            'W_Nabellen offertes',
                    'O_SENT_BACK',           'W_Valideren aanvraag',
                   'A_REGISTERED',                     'A_APPROVED',
                     'O_ACCEPTED',                    'A_ACTIVATED',
                    'O_CANCELLED',    'W_Wijzigen contractgegevens',
                     'A_DECLINED',                    'A_CANCELLED',
             'W_Afhandelen leads',                     'O_DECLINED',
 'W_Nabellen incomplete dossiers',            'W_Beoordelen fraude']
Length: 24, dtype: str

In [12]:
df.head(5)

             concept:name                   time:timestamp case:concept:name
0             A_SUBMITTED 2011-10-01 00:38:44.546000+00:00            173688
1       A_PARTLYSUBMITTED 2011-10-01 00:38:44.880000+00:00            173688
2           A_PREACCEPTED 2011-10-01 00:39:37.906000+00:00            173688
3  W_Completeren aanvraag 2011-10-01 00:39:38.875000+00:00            173688
4  W_Completeren aanvraag 2011-10-01 11:36:46.437000+00:00            173688